body
{
    background-color: aquamarine;
}

.span
{
    font-size: 30px;
    margin-left: 30px;
}
#T
{
    font-size: 30px;
    float: right;
    margin-right: 30px;
}
#ESD
{
    color: blueviolet;
}
p
{
    font-size: 30px;
}
#Po
{
   font-size: 30px;
}